body, #__nuxt, #__layout, .page, .page-body {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

.page-body {
  display: flex;
  flex-direction: column;

  .page-header, .page-options {
    width: 100vw;
    padding: 1rem 1rem 0.5rem;
  }

  .page-options, .page-tool {
    display: flex;

    section {
      flex: 2;

      &.input, &.output {
        flex: 1;
      }
    }
  }

  .page-tool {
    flex: 1;
    padding: 0.5rem 0rem 1rem;

    section {
      margin: 0 0.5rem;
      overflow-y: scroll;
      min-height: 100%;
      background-color: #f8f8f8;
      border: 1px solid #eee;

      &:first-child {
        margin-left: 1rem;
      }

      &:last-child {
        margin-right: 1rem;
      }

      textarea {
        width: 100%;
        height: 100%;
        padding: 1rem;
        border: none;
        resize: none;
        outline: none;
        box-sizing: border-box;
        display: inline-block;
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        letter-spacing: 0.05em;
        font-size: 0.85em;
        background-color: transparent;
        white-space: pre-wrap;
        overflow: auto;
      }

      // &:nth-child(odd) {
      //   background-color: #eee;
      // }
    }
  }
}
